# estos datos son para su propio .env que no se sube al git, lo deberan completar con sus datos de
# conexion a postgres y mongo, ademas de generar secrets seguros para JWT_SECRET y JWT_REFRESH_SECRET,
#pueden usar generadores online para esto, como por ejemplo: https://www.lastpass.com/es/features/password-generator

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=petdata # no modificar

# MongoDB
MONGO_USER=
MONGO_PASSWORD=
MONGO_DB=petdata_mongo # no modificar

# JWT
JWT_SECRET=

# Credenciales de google para autenticación
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=